nav a{
    text-decoration: none;
    color: black;
}
.section_head p {
    background-color: #34930138;
    border-radius:10px;
    padding: 4px 20px;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.section_head p span{
    font-size: 30px;
    font-weight: 700;
    text-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);}
